<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>notice1_bg_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_logo_img1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,256}</string>
                <key>textureRect</key>
                <string>{{66,0},{480,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_atlas1_img1.png</string>
            <key>size</key>
            <string>{546,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6359cfb57defe97891752c2eaf3baa11:1230a0481e49d3bcbe96de4c031a230a:37d8275342e473937f872127751e7ad6$</string>
            <key>textureFileName</key>
            <string>ui_atlas1_img1.png</string>
        </dict>
    </dict>
</plist>
